@model DogGo.Models.ViewModels.WalkerProfileViewModel

@{
    ViewData["Title"] = "Walker Profile";
}

<h1>Walker Profile</h1>

<section class="d-flex flex-nowrap">
    <div>
        <img src="@Model.Walker.ImageUrl" alt="avatar" width="200" height="200"/>
    </div>
    <div class="align-self-center">
        <table id="walker-details__table">
            <tbody>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.Walker.Name):&emsp;</td> <!-- Wanted to get used to using these commands -->
                    <td>@Html.DisplayFor(model => model.Walker.Name)</td>
                </tr>
                <tr>
                    <td>Neighborhood:&emsp;</td>
                    <td>@Html.DisplayFor(model => model.Walker.Neighborhood.Name)</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="align-self-end">
        @Html.ActionLink("Edit", "Edit", new { id = Model.Walker.Id }) |
        <a asp-action="Index">Back to List</a>
    </div>
</section>
<section class="d-flex pt-5 mt-5 bg-white">
    <article class="w-75 m-auto pl-5">
        <h1>Recent Walks</h1> 
        <table class="table">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Walks[0].Date)</th>
                    <th>Client Name</th>
                    <th>@Html.DisplayNameFor(model => model.Walks[0].Duration)</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Walk walk in Model.Walks)
                {
                    <tr>
                        <td>@walk.Date</td>
                        <td>@walk.Dog.Owner.Name</td>
                        <td>@walk.MinuteString</td>
                    </tr>
                }
            </tbody>
        </table>
        @Html.ActionLink("Add Walk(s)", "Create", "Walk")
    </article>
    <aside class="d-flex pl-5 pr-5 text-nowrap">
        <h2 class="text-black-50">Total Walk Time: </h2>
        <h2 class="font-weight-bold ml-3 align-self-auto">@Model.TotalWalkTime</h2>
    </aside>
</section>
